.card {
  border: 1px solid red;
  display: flex;
  width: 180px;
}

.FixedBottom {
  bottom: 0;
  position: fixed;
}

.FixedBottomLeft {
  bottom: 0;
  left: 100px;
  position: fixed;
}

.CheckBoxColor {
  text-decoration: line-through solid rgb(0, 0, 0);
}
