#Carousel{
  display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.card{
  border: 1px solid red;
  display: flex;
  width: 180px;
}

.FixedBottom{
  position: fixed;
  bottom: 0px;
}

.FixedBottomLeft{
  position: fixed;
  bottom: 0px;
  left: 100px;
}
