.FixedBottom {
  bottom: 0;
  position: fixed;
}

.FixedBottomLeft {
  bottom: 0;
  left: 100px;
  position: fixed;
}

.CheckBoxColor {
  text-decoration: line-through solid black;
}

.RecipeDetails {
  margin-bottom: 70px;
}

.carouselContainer {
  border: 3px solid black;
  height: 173px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 406px;
}

.carouselCard {
  border: 1px solid black;
  display: inline-block;
  height: 150px;
  margin-right: 5px;
  width: 200px;
}

.carouselImage {
  width: 100px;
}
